ion-toolbar {
    text-align: center;
}
.item-inner {
    padding-right: 0 !important;
}
.content {
    margin-top: 100px !important;
    z-index: -1 !important;
}

#heading {
    position: fixed;
    top: 0;
}

@media (min-width: 769px) {
    .content,ion-footer {
        width: 80% ;
        margin-left: 20% !important;
    }
}



.footer-container {
    padding: 0 20px !important;
}
