<!-- <router-outlet></router-outlet> -->
<!-- <app-base [title] = "'My store heading'" [description] ="'my description'"></app-base> -->

<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Header</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-toolbar id="heading" color="success">
        <ion-title>Fresh 2 Home - online vegies and fruits</ion-title>
    </ion-toolbar>
    <app-menu></app-menu>
     <div class="content">
        <!-- <ion-item class="main-content"> -->
            <router-outlet></router-outlet>
        <!-- </ion-item> -->
    </div>
</ion-content>


