#container {
    margin-top: 50px !important;
}

#inner-container {
    display: flex;
    flex-direction: column;
}

ion-card {
    width: 80% !important;
    margin: auto !important;
    margin-bottom: 20px !important;
}

@media (min-width: 769px) {
    #inner-container ion-card {
        width: 60% !important;
        margin: 10px 0 !important;;
    }
}