<div id="container">
    <ion-item *ngIf="showError" color="danger">
        <ion-label>{{showError}}</ion-label>
        <ion-button expand="full" fill="solid" shape="round" [routerLink]="['/signin']" *ngIf="alreadySignedUp">
            Sign In Here
        </ion-button>
    </ion-item>
    <ion-item *ngIf="!showForm && !showError" color="success">
        <ion-label>Sign Up successful, please sign in here</ion-label>
        <ion-button expand="full" fill="solid" shape="round" [routerLink]="['/signin']">
            Sign In Here
        </ion-button>
    </ion-item>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" id="form" *ngIf="showForm">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" name="firstName" formControlName="firstName" class="form-control"></ion-input>
        </ion-item>
        <div *ngIf="( signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty) &&  signupForm.controls['firstName'].invalid">
            <ion-item lines="none" *ngIf=" signupForm.controls['firstName'].errors?.['required']">
                <ion-label color="danger">This field is required*</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf=" signupForm.controls['firstName'].errors?.['minlength']">
                <ion-label color="danger">Name must be atleast 3 characters*</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="signupForm.controls['firstName'].errors?.['pattern']">
                <ion-label color="danger">Only alpahbets*</ion-label>
            </ion-item>
        </div>
        <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input  name="lastName"  formControlName = "lastName" type="text" class="form-control"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input  type="email" name="email" formControlName="email" [required]="true" class="form-control"></ion-input>
        </ion-item>
        <div *ngIf="( signupForm.controls['email'].touched ||  signupForm.controls['email'].dirty) &&  signupForm.controls['email'].invalid">
            <ion-item lines="none" *ngIf=" signupForm.controls['email'].errors?.['required']">
                <ion-label color="danger">This field is required*</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf=" signupForm.controls['email'].errors?.['pattern']">
                <ion-label color="danger">Invaid email*</ion-label>
            </ion-item>
        </div>
        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input name="password"  type="password" formControlName="password" class="form-control" minlength="6" required="true"></ion-input>
        </ion-item>
        <div *ngIf="( signupForm.controls['password'].touched ||  signupForm.controls['password'].dirty) && signupForm.controls['password'].invalid">
            <ion-item lines="none" *ngIf=" signupForm.controls['password'].errors?.['required']">
                <ion-label color="danger">This field is required*</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf=" signupForm.controls['password'].errors?.['minlength']">
                <ion-label color="danger">Name must be atleast 6 characters*</ion-label>
            </ion-item>
        </div>
        <ion-button  fill="outline" id="submit-btn" shape="round" type="submit">
            Submit
        </ion-button>
        
    </form>     
</div>